body {
    background-image: url("../assets/images/dashboardBG.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
}

.container.mt-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh; /* or adjust as needed */
}

.board {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
}
.list {
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
}
.task {            
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.add-card{
    background: #ddd;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;

}



.add-card:hover {
    background: #39d1ff;
}

.delete-card{
    background: #ce5757;
    border: 1px solid #ddd;
    border-radius: 5px;

}

.task{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;

    
}
.task:hover {
    background: #ffec42;
    
}

